<section class="center">

    <h1> Edit <%= @item.title %> here! </h1>

  <%= render partial: "form" %>
</section>

<div class="back-items">
  <h4><%= link_to "Back to Items", admin_items_path %></h4>
</div>
