<div class="user-show-headline">
  User Dashboard for <%= current_user.username %>
  <div class="user-show-information">
    Full Name: <%= current_user.fullname %>
    Address: <%= current_user.address %>
    <%= link_to "Edit Account Details", edit_user_path(current_user) %>
  </div>
</div>
