<div class="order-index">
  All Orders for <%= current_user.username %>
  <% current_user.orders.each do |order| %>
  <%= order.status %> <br>
<%= link_to order.id, user_order_path(current_user, order) %> placed on <%= order.created_at %>
  <% end %>
</div>
