
<section class="items">
  <% @items.each do |item| %>
  <%= item.title %>
  <%= item.description %>
  <%= item.price %>
  <div class="item_image">
    <img src="<%= asset_path(item.image)%>"/>
  </div>
  <% end %>
</section>