<div class="analytics-dashboard">
  <h1>Analytics Dashboard</h1> <br>
    <div class="analytics-display">
      User with most orders: <%= User.most_orders_placed %>
    </div>
    

  <%= link_to "Go back to Admin Dashboard", admin_dashboard_path %>
</div>
