/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  font-family: "Book Antiqua", serif;
}

img {
    width: auto;
    height: auto;
    border-radius: 8px;
}

 body{
   color: white;
  background: url("http://www.seriouseats.com/images/2015/08/20150818-coffee-beans-shutterstock_71813833.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: serif;
  padding-bottom: 30px;
 }
 .container{
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
}
.center{
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.log{
  color: brown;
  padding: 10px;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-size: x-large;
  color: white;
  padding: 10px;
  border-style: groove;
  -webkit-border-start-color: darkorange;
  -webkit-border-end-color: darkorange;
  -webkit-border-before-color: darkorange;
  -webkit-border-after-color: darkorange;
}
a:hover{
    color:sandybrown;
  transition-duration: 1.0s;
}
.totals{
  font-size: x-large;
}
.orders{
  font-size: x-large;
  display: flex;
}

nav{
  background: brown;
}
h1{
  font-size: 35px;
  color: white
}

.items{
  padding: 10px;
}
.all {

  margin: 0 auto;
  width: 600px;
  text-align: center;
  background-color: #A32C2E;
  border: 1px solid black;
}

.create_account{
  text-align: center;
  padding: 30px;

}
.categories-show-title{
  text-align: center;
  font-size: x-large;
}
.cart{
  text-align: right;
  font-size: x-large;
}
.category_links{
  display: flex;
  flex-flow: column;
  font-size: xx-large;
  justify-content: space-around;
  color: white;
  padding: 30px;
  margin: 20px;
  background-color: #A32C2E;
  border: 1px solid black;
}
.category_links:hover{
  color:red;
  transition-duration: 1.0s;
}
img{
  height: 150px;
}
.items{
    display: inline-flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    width: 250px;
    margin: 30px;
    background-color: #A32C2E;
    border: 1px solid black;
}
.success{
  color: green;
}
.item-show{
  padding: 25px;
  text-align: center;
}
.cart_button{
  padding: 18px;
}

.items-show {
  display: flex;
  flex-flow: row;
}
.carts-show {
  display: flex;
  flex-flow: row;
}

.order_elements{
  background-color: #a32c2e;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

.back-items {
  display: flex;
  justify-content: center;

}
.back-items a {
  background-color: #dd5c02;
  border: none;
  margin: 20px;
  border: groove;
  color: #422101;
}
.analytics-dashboard{
  font-size: x-large;
}

.form {
  font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 250px;
    background-color: #A32C2E;
    border: 1px solid black;
}

.user-show-information {
  font-size: 18px;
  text-align: center;
  background-color: #A32C2E;
  border: 1px solid black;
}

.items-show {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 250px;
  margin: 30px;
  background-color: #A32C2E;
  border: 1px solid black;
}

.quantity a {
  font-size: large;
  border: none;
}

.checkout-button a{
  background-color: #dd5c02;
  border: none;
  margin: 20px;
  border: groove;
  color: #422101;
}

.analytics-dashboard {
  background-color: #A32C2E;
  border: 1px solid black;
  width: 600px;
  margin: 30px;
  padding: 20px;
}

.admin-details {
  font-size: large;
}

.elements {
  display: inline-flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 250px;
  padding: 20px;
  margin: 30px;
  background-color: #A32C2E;
  border: 1px solid black;
}

.totals {
  background-color: #A32C2E;
  border: 1px solid black;
  width: 250px;
  padding: 20px;
  margin: 30px;
  text-align: center
}
