/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   color: white;
  background: url("http://www.seriouseats.com/images/2015/08/20150818-coffee-beans-shutterstock_71813833.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: serif;
 }
 .container{
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
}
.center{
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.log{
  color: brown;
  padding: 10px;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: xx-large;
  color: white;
  padding: 10px;
  border-style: groove;
  -webkit-border-start-color: darkorange;
  -webkit-border-end-color: darkorange;
  -webkit-border-before-color: darkorange;
  -webkit-border-after-color: darkorange;
}
a:hover{
    color:sandybrown;
  transition-duration: 1.0s;
}

nav{
  background: brown;
}
h1{
  color: white
}
.items{
  padding: 10px;
}
.categories-show-title{
  text-align: center;
  font-size: x-large;
  
}
.cart{
  text-align: center;
  font-size: x-large;
}
.category_links{
  display: flex;
  flex-flow: column;
  font-size: xx-large;
  color: white;
}
.category_links:hover{
  color:red;
  transition-duration: 1.0s;
}
img{
  height: 150px;
}
.items{
    display: inline-flex;
    align-items: center;
    flex-flow: column;
}
.success{
  color: green;
}
.item-show{
  padding: 25px;
  text-align: center;
}
.cart_button{
  padding: 18px;
}